Node-Red/MQTT_IoT.json
[
    {
        "id": "30c3719a9c1d09c2",
        "type": "tab",
        "label": "IoTSensorTweet",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c024bc53d07e0692",
        "type": "debug",
        "z": "30c3719a9c1d09c2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 240,
        "wires": []
    },
    {
        "id": "fc6ec90d0f4d3194",
        "type": "delay",
        "z": "30c3719a9c1d09c2",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 400,
        "y": 160,
        "wires": [
            [
                "c024bc53d07e0692",
                "51a90aead0c4e418"
            ]
        ]
    },
    {
        "id": "51a90aead0c4e418",
        "type": "debug",
        "z": "30c3719a9c1d09c2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 300,
        "wires": []
    },
    {
        "id": "29ebe29e9de1810e",
        "type": "mqtt in",
        "z": "30c3719a9c1d09c2",
        "name": "",
        "topic": "Changeyourtopichere",
        "qos": "0",
        "datatype": "auto",
        "broker": "2b5d47f073ec1fb5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 200,
        "y": 160,
        "wires": [
            [
                "fc6ec90d0f4d3194"
            ]
        ]
    },
    {
        "id": "a33e06a65ce9c6f2",
        "type": "ui_button",
        "z": "30c3719a9c1d09c2",
        "name": "",
        "group": "9cbf6d2dd9321acf",
        "order": 8,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "My Button",
        "tooltip": "",
        "color": "Green",
        "bgcolor": "Black",
        "className": "",
        "icon": "send",
        "payload": "I was pressed",
        "payloadType": "str",
        "topic": "mybutton",
        "topicType": "msg",
        "x": 120,
        "y": 260,
        "wires": [
            [
                "3397e0e96dbb06a6"
            ]
        ]
    },
    {
        "id": "3397e0e96dbb06a6",
        "type": "ui_text",
        "z": "30c3719a9c1d09c2",
        "group": "9cbf6d2dd9321acf",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Text from button",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 300,
        "y": 260,
        "wires": []
    },
    {
        "id": "e949fa9d971a27e4",
        "type": "inject",
        "z": "30c3719a9c1d09c2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "70751f27c3ec3caa"
            ]
        ]
    },
    {
        "id": "70751f27c3ec3caa",
        "type": "function",
        "z": "30c3719a9c1d09c2",
        "name": "function 1",
        "func": "msg.payload = Math.random() * 10;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 400,
        "wires": [
            [
                "0f49f3c749ea8e68"
            ]
        ]
    },
    {
        "id": "0f49f3c749ea8e68",
        "type": "ui_gauge",
        "z": "30c3719a9c1d09c2",
        "name": "",
        "group": "9cbf6d2dd9321acf",
        "order": 3,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Random Value",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 120,
        "y": 460,
        "wires": []
    },
    {
        "id": "6cf7c83932953678",
        "type": "ui_gauge",
        "z": "30c3719a9c1d09c2",
        "name": "Lämpötila",
        "group": "e18cc7c1c22463e4",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Lämpötila",
        "label": "C",
        "format": "{{msg.payload.Temperature}}",
        "min": "1",
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 820,
        "y": 580,
        "wires": []
    },
    {
        "id": "01c80b24d8198764",
        "type": "ui_switch",
        "z": "30c3719a9c1d09c2",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "26e9a05bf346bc8a",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 250,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "1fc2237b679a66fa",
        "type": "ui_switch",
        "z": "30c3719a9c1d09c2",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "221248f1a24d17f0",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 250,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "1267d4fbae90ca45",
        "type": "debug",
        "z": "30c3719a9c1d09c2",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 520,
        "wires": []
    },
    {
        "id": "f3713cb6d0609c61",
        "type": "delay",
        "z": "30c3719a9c1d09c2",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 820,
        "y": 520,
        "wires": [
            [
                "1267d4fbae90ca45",
                "a9b7c7ca78147c72"
            ]
        ]
    },
    {
        "id": "a9b7c7ca78147c72",
        "type": "debug",
        "z": "30c3719a9c1d09c2",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "topic",
        "statusType": "auto",
        "x": 1000,
        "y": 460,
        "wires": []
    },
    {
        "id": "64e56319c815f066",
        "type": "mqtt in",
        "z": "30c3719a9c1d09c2",
        "name": "",
        "topic": "Changeyourtopichere",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "2b5d47f073ec1fb5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 520,
        "y": 580,
        "wires": [
            [
                "6cf7c83932953678",
                "f465535a8c607cfa",
                "f3713cb6d0609c61",
                "8537bcda561c1200",
                "eda17c269d5b72cc"
            ]
        ]
    },
    {
        "id": "a2b7fead7d05c875",
        "type": "debug",
        "z": "30c3719a9c1d09c2",
        "name": "OutsideAir",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 210,
        "y": 540,
        "wires": []
    },
    {
        "id": "5be5e716735177b4",
        "type": "debug",
        "z": "30c3719a9c1d09c2",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 200,
        "y": 600,
        "wires": []
    },
    {
        "id": "059e6a5a652ab055",
        "type": "mqtt in",
        "z": "30c3719a9c1d09c2",
        "name": "",
        "topic": "Changeyourtopichere",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "2b5d47f073ec1fb5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 200,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "8537bcda561c1200",
        "type": "ui_gauge",
        "z": "30c3719a9c1d09c2",
        "name": "Ilmankosteus",
        "group": "e18cc7c1c22463e4",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Ilmankosteus",
        "label": "%",
        "format": "{{msg.payload.Humidity}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 910,
        "y": 700,
        "wires": []
    },
    {
        "id": "d947d6f5964c5c43",
        "type": "switch",
        "z": "30c3719a9c1d09c2",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1010,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "f465535a8c607cfa",
        "type": "ui_text",
        "z": "30c3719a9c1d09c2",
        "group": "e18cc7c1c22463e4",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperature (degrees C)",
        "format": "{{msg.payload.Temperature}}",
        "layout": "row-spread",
        "className": "",
        "x": 870,
        "y": 620,
        "wires": []
    },
    {
        "id": "70b13a1579b1c6b5",
        "type": "function",
        "z": "30c3719a9c1d09c2",
        "name": "function 2",
        "func": "let lampotila = msg.payload\nlet result = lampotila.includes(\"Temp \")\nreturn msg.payload;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "711266d8caeb260b",
        "type": "debug",
        "z": "30c3719a9c1d09c2",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 280,
        "wires": []
    },
    {
        "id": "eda17c269d5b72cc",
        "type": "ui_text",
        "z": "30c3719a9c1d09c2",
        "group": "e18cc7c1c22463e4",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Relative Humidity (Precent %)",
        "format": "{{msg.payload.Humidity}}",
        "layout": "row-spread",
        "className": "",
        "x": 970,
        "y": 740,
        "wires": []
    },
    {
        "id": "a1477b17d09d9eb8",
        "type": "twitter out",
        "z": "30c3719a9c1d09c2",
        "name": "Tweet",
        "x": 630,
        "y": 120,
        "wires": []
    },
    {
        "id": "2b5d47f073ec1fb5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "9cbf6d2dd9321acf",
        "type": "ui_group",
        "name": "Default",
        "tab": "040fbd97d615e635",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e18cc7c1c22463e4",
        "type": "ui_group",
        "name": "View",
        "tab": "26a3c6271a4c156d",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "26e9a05bf346bc8a",
        "type": "ui_group",
        "name": "Bedroom",
        "tab": "41c9a89df7b036d4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "221248f1a24d17f0",
        "type": "ui_group",
        "name": "Lounge",
        "tab": "41c9a89df7b036d4",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "040fbd97d615e635",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "26a3c6271a4c156d",
        "type": "ui_tab",
        "name": "Second",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "41c9a89df7b036d4",
        "type": "ui_tab",
        "name": "Control",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]